<form class="layui-form model-form" action="/sendmail/sendmail">
    <div class="layui-form-item">
        <label class="layui-form-label">角色列表：</label>
        <div class="layui-input-block">
            <input name="role_list" value="" lay-verify="required" autocomplete="off" placeholder="请输入角色ID列表，多个以,隔开" class="layui-input" type="text">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">道具列表：</label>
        <div class="layui-input-block">
            <input name="item_list" value="" lay-verify="required" autocomplete="off" placeholder="请输入道具列表" class="layui-input" type="text">
        </div>
    </div>
    {{submit "submit|立即发送,close|关闭" 1 ""}}
</form>